body{
    margin-top: 70px;
}
.container {
  height: 350px;
  width: 400px;
  margin: auto;
  background: #eeaeca;
  background: linear-gradient(
    231deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 5px;
  padding: 10px;
}
label{
    margin-left: 40px;
}
input{
    height: 20px;
    margin-left: 40px;
    margin-top: 3px;
    width: 300px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: transparent;
}
button{
    height: 25px;
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 5px;
    border-color: transparent;
    width: 60%;
    background-color: rgb(44, 133, 234);
}

h1{
    text-align: center;
}