*{
    padding: 0;
    margin: 0;
    background-color: black;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
h1{
    text-align: center;
    color:deeppink;
    font-size: 40px;
    margin-bottom: 100px ;
    font-family:Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;

}
div p{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 15px ;
}
button{
    width: 150px;
    color:white;
    background-color:aquamarine;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    padding: 3px;
    margin: 40px auto;
    
}
